[Unit]
Description=bytesizelinks

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/webapps/bytesizelinks/app

[Install]
WantedBy=multi-user.target