.center {
    text-align: center;
}

.error {
    color: tomato;
}

.form {
    margin: auto;
}

.formHeader {
    text-align: right;
}

.generate {
    text-align: right;
}

.link:link, .link:visited {
    color: aqua;
}
.link:hover, .link:active {
    color: teal;
}

.title {
    border-bottom-style: solid;
    border-color: rgba(red, green, blue, alpha);
    margin: 1em 0em;
    padding-bottom: 8px;
    text-align: center;
}

.webpage {
    background-color: #0f1722;
    color: ivory;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}